<div class="row" ng-controller="loginController as vm">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <form name="formCadastrar" ng-submit="logar(usuario)">
                <div class="form-group">
                    <label>Usuário:</label>
                    <input type="text" class="form-control" ng-required="true" ng-model="usuario.nome">
                </div>
                <div class="form-group">
                    <label>Senha:</label>
                    <input type="password" class="form-control" ng-required="true" ng-model="usuario.senha">
                </div>
                <button class="btn btn-primary" ng-disabled="formCadastrar.$invalid" type="submit">Entrar</button>
            </form>
        </div>
    </div>
</div>